PORT=8080
DB_URL=jdbc:oracle:thin:@oracle.fiap.com.br:1521:orcl
DB_USERNAME=SEU_RM
DB_PASSWORD=SUA_SENHA
CORS_ORIGINS=http://localhost:5173
IA_API_URL=http://localhost:5000
CRONOGRAMA_API_URL=http://localhost:5001
